// CSS reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none !important;
}

body {
  background: url(../assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(187, 187, 187);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(207, 207, 207);
}
// styles
@import "homePage";
